{% extends "base.html" %}
{% block content %}
    <div class="container mt-3 p-5">
        <div class="row mb-5">
            <h2>Server List</h2>
            <ul class="list-group">
            {% for server in servers %}
                    <li class="list-group-item"><a href="{% url 'server' server.id %}">{{ server.server_name }}</a></li>
            {% endfor %}
            </ul>
        </div>
            <div class="row mb-5">
                <h2>Create a new chat server</h2>
                {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit">
                    </form>
                {% else %}
                    <p>You must be logged in to create a server</p>
                {% endif %}
            </div>
    </div>
{% endblock content %}